In [91]:
import pandas as pd
import numpy as np

In [92]:
# read data and save original column names for measures (km/h)
data = pd.read_csv('./data/data.csv')
original_cols = data.columns

In [93]:
data['price(in lakhs)'] = data['price(in lakhs)'] * 1000 # make price in dollars

In [94]:
del data[data.columns[0]] # delete index col
del data['registration_year'] # delete the precise date col
data = data.dropna()

In [95]:
# change colunm names
data.columns = ['name', 'insurance_validity', 'fuel_type', 'seats', 'kms_driven', 'ownership', 'transmission', 'manufacturing_year', 'mileage', 'engine', 'max_power', 'torque', 'price']

In [96]:
# remove year from car name as it is as seperate column
data['name'] = data['name'].apply(lambda name: name.split(' ')[1])

In [97]:
# change 'insurance_validity' col to numbers
insurance_validities = {
    'Comprehensive': 5,
    'Zero Dep': 4,
    'Third Party insurance': 3,
    'Third Party': 2,
    'Petrol': 1,
    'Not Available': 0
}
data['insurance_validity'] = data['insurance_validity'].map(insurance_validities).astype(int)

In [98]:
# drop rows with invalid fuel type
data = data.drop(data[data['fuel_type'] == '5 Seats'].index)

In [99]:
# change 'fuel_type' col to numbers
fuel_types = {
    'Petrol': 0,
    'Diesel': 1,
    'CNG': 2
}
data['fuel_type'] = data['fuel_type'].map(fuel_types).astype(int)

In [100]:
# drop rows where transmission is not automatic or manual
data = data.drop(data[(data['transmission'] != 'Automatic') & (data['transmission'] != 'Manual')].index)

In [101]:
# change 'transmission' col to numbers
transmission = {
    'Automatic': 0,
    'Manual': 1
}
data['transmission'] = data['transmission'].map(transmission).astype(int)

In [102]:
# change 'ownership' col 
ownership = {
    'First Owner': 4,
    'Second Owner': 3,
    'Third Owner': 2,
    'Fourth Owner': 1,
    'Fifth Owner': 0
}
data['ownership'] = data['ownership'].map(ownership).astype(int)

In [103]:
# change 'name' col
car_brands = {
    'Lamborghini': 27,
    'Porsche': 26,
    'Jaguar': 25,
    'Land': 24,
    'Mercedes-Benz': 23,
    'Lexus': 22,
    'BMW': 21,
    'Audi': 20,
    'Volvo': 19,
    'Jeep': 18,
    'Mini': 17,
    'Volkswagen': 16,
    'Toyota': 15, 
    'Honda': 14,
    'Ford': 13,
    'Nissan': 12,
    'Mitsubishi': 11,
    'Hyundai': 10,
    'Kia': 9,
    'Skoda': 8,
    'Tata': 7,
    'Renault': 6,
    'Datsun': 5,
    'Fiat': 4,
    'MG': 3,
    'Mahindra': 2,
    'Maruti': 1,
    'Isuzu': 0,
}
data['name'] = data['name'].map(car_brands).astype(int)

In [104]:
split_portion = int(len(data) * 0.7)
training_data, test_data = data[:split_portion], data[split_portion:]

y = np.array(training_data['price'], dtype=np.int64)
x = np.array(training_data.drop(columns=['price']), dtype=np.int64)

In [185]:
class LinearRegression():
    def __init__(self, nr_of_iterations, learning_rate):
        self.nr_of_iterations = nr_of_iterations
        self.learning_rate = learning_rate
        
    def fit(self, x, y):
        rows, cols = x.shape
        self.a = np.zeros(cols, dtype=np.int64)
        self.b = 0

        for _ in range(self.nr_of_iterations):
            temp = y - (np.sum(x.dot(self.a)) + self.b)
            
            da = (-2/rows) * np.sum(x.T * temp)
            db = (-2/rows) * np.sum(temp)

            self.a = self.a - self.learning_rate * da
            self.b = self.b - self.learning_rate * db

In [186]:
model = LinearRegression(nr_of_iterations=1000, learning_rate=10)
model.fit(x, y)

C:\Users\lacis\Documents\ML\lin_reg\venv\Lib\site-packages\numpy\core\fromnumeric.py:88: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\lacis\AppData\Local\Temp\ipykernel_10216\2070296518.py:14: RuntimeWarning: invalid value encountered in multiply
  da = (-2/rows) * np.sum(x.T * temp)